doctype html

mixin leaf(link, image, title)
  .child
    a.leaf(href=link, data-title=title)
      img(src='images/icons/' + image, alt=title)
      .glass-holder
        .counterspin
          .glass

html(lang='en')
  // https://git.io/specious 
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='styles/style.css')
  body
    #content
      h1= title
      #bio
        p
          | Hello. I'm <span class="name">Ildar Sagdejev</span>. I work on software.
        p
          | You can reach me at <a href="https://wa.me/17077863112">+1 (707) 786-3112</a>
        p
          | Check out my <a href="http://specious.github.io/projects/">projects</a> or explore my links.
        img.qr(src="images/qr-code.png", alt="QR")
      #disc
        .widget-spinner
          .inner
            .carousel
              each link in links
                +leaf(link['url'], link['icon'], link['title'])
            a.cover(href="http://linkedin.com/in/specious")
              img.back(src="images/linkedin.svg", alt="LinkedIn")
              img.front(src="images/portrait.jpg", alt="")
    script.
      setTimeout( function() {
        document.getElementById('disc').children[0].className += " open"
      } )